<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Control System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="text-center">Employee Control System</h1>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <h2>Show Employee Reports</h2>
            <hr>
            <form action="#" th:action="@{/reports}" method="post">
                <select class="form-control" name="employeeId">
                    <option value="">Show List of Employee</option>
                    <option th:each="employee : ${allemplist}"
                            th:value="${employee.id}"
                            th:text="${employee.name + ' ' + employee.surname + ' ' + employee.id}">
                    </option>
                </select>
                <hr>
                <button type="submit" class="btn btn-info col-4">Find Report</button>
            </form>
            <hr>
            </table>
            <a th:href="@{/}"> Back to Employee List</a>
        </div>

    </div>
</body>
</html>