<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

    <h3>Report List</h3>
<!--    <a th:href="@{/filter}" class="btn btn-primary btn-sm mb-3" >Filter By Date</a>-->
    <form action="/reports" method="get">
        <label for="startTime">Date of entry:</label>
        <input type="date" id="startTime" name="startTime">
        <label for="endTime">Date of exit:</label>
        <input type="date" id="endTime" name="endTime">
        <button type="submit">Filter</button>
    </form>

    <table style="width:80%" border="1"
           class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Work Hours</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.id}"></td>
            <td th:text="${#temporals.format(report.startTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${#temporals.format(report.endTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${report.getDuration()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>

